.game-selection {
	color: black;
	font-family: 'Silkscreen', cursive;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	line-height: 200%;
}
.game-selection > a{
	color: black;
	font-family: 'Silkscreen', cursive;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	line-height: 200%;
}
.nes-logo {
	size: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}